@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');

:root {
    --header: 'Bagel Fat One', sans-serif;
    --subheader: 'The Nautigal', serif;
    --body: 'Crimson Text', serif;
    --subbody: 'Garet', Arial, sans-serif;

    --font-size: clamp(16px, 1vw, 1vw);
    --h1: clamp(40px, 4vw, 4vw);
    --h2: clamp(65px, 6vw, 6vw);
    --h3: clamp(20px, 1.9vw, 1.9vw);
    --h4: clamp(18px, 1.7vw, 1.7vw);
    --h5: clamp(15px, 1.4vw, 1.4vw);
    --h6: clamp(13px, 1.1vw, 1.1vw);
    --h7: clamp(0.9rem, 0.9vw, 0.9vw);
    --h8: clamp(0.8rem, 0.7vw, 0.7vw);

    --red: rgb(239, 53, 53);
    --red-80: rgb(242, 90, 90);
    --red-50: rgb(245, 137, 137);
    --red-20: rgb(249, 185, 185);

    --gold: rgb(255, 215, 0);
    --yellow: rgb(241, 237, 186);
    --yellow-80: rgb(242, 239, 192);
    --yellow-50: rgb(246, 244, 213);
    --yellow-20: rgb(251, 249, 234);

    --blue: rgb(55, 103, 177);
    --blue-80: rgb(138, 170, 219);
    --blue-50: rgb(55, 103, 177);
    --blue-20: rgb(214, 231, 245);

    --pink: rgb(254, 206, 215);
    --pink-80: rgb(254, 206, 215, 0.8);
    --pink-50: rgb(254, 206, 215, 0.5);
    --pink-20: rgb(254, 206, 215, 0.2);

    --green: rgb(217, 226, 223);

    --black: rgb(0, 0, 0);
    --black-80: rgb(77, 77, 77);

    --gray: rgb(128, 128, 128);

    --white: rgb(255, 255, 255);
    --white-80: rgb(230, 230, 230);
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: default;
    line-height: 1.5em;
}

h1 {
    font-size: var(--h1) !important;
    font-family: var(--header) !important;
    color: var(--red) !important;
}

h2 {
    font-size: var(--h2) !important;
    font-family: var(--subheader) !important;
    color: var(--blue) !important;
}

h3 {
    font-size: var(--h3) !important;
    font-family: var(--header) !important;


}

h4 {
    font-size: var(--h4) !important;
    font-family: var(--body) !important;
}

h5 {
    font-size: var(--h5) !important;
}

h6 {
    font-size: var(--h6) !important;
}

p {
    font-size: var(--font-size) !important;
    font-weight: normal !important;
    font-family: var(--body) !important;
}

a {
    color: var(--black);
    font-size: var(--font-size) !important;
    cursor: pointer;
    font-weight: normal !important;
}

.content-section {
    width: 100%;
    margin: clamp(50px, 5vw, 5vw) auto;
    padding: 0;
}

.content-inner {
    width: 90%;
    margin: auto;
    padding: 0;
}

@media (max-width: 500px) {
    h1 {
        font-size: 30px !important;
    }

    h2 {
        font-size: 50px !important;
    }

    h3 {
        font-size: 25px !important;
    }

    h4 {
        font-size: 23px !important;
    }

    h5 {
        font-size: 20px !important;
    }

    h6 {
        font-size: 18px !important;
    }

    p {
        font-size: 16px !important;
    }

    a {
        font-size: 16px !important;
    }

    .content-inner {
        width: 95%;
    }
}